.newUploadVesting {
    .vesting_container {
        .nav-pane {
            border-bottom: 1.6px solid #2a383c;
        }

        .upload-message{
            background: #171C1F;
            border: 0.5px solid;
            border-color: #2D884C;
            // border-image: linear-gradient(0deg, #2D884C -33.65%, #87DFA5 100%);
            // border-image-slice: 1;
        }
    }
}