.vesting_steps {
	.herocontainer {
		@apply border-lightGrayBorder border-2;
		background: #FFF;
		.text-container {
	
			@apply bg-grayFill;
		}
	}

	.side-container {
		.download-template {
			@apply border-lightGrayBorder border-2;
		background: #FFF;

			.xldiv {
				@apply border-lightGrayBorder border-2;
		background: #FFF;
			}

			.mobile-xldiv {
				border: 0.5px solid #49c475;
			}
		}

		.side-button {
			@apply text-white;
			background:  #8DBC1A;
		}
	}
}
